
/********************************Header CSS************************************/
header{
  background-color: black;
  color: white;
  height: 80px;
}

header ul{
  text-align: right;
}

#logo{
  position: absolute;
  left: 10px;
  top: 10px;
}
/********************************Sectional CSS*********************************/
#introSection, #aboutSection{
  max-width: 95%;
  margin: 0 auto;
}
#introSection img{
  display: block;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  align: middle;
}
canvas{
  margin: 0 auto;
}
#projectSection{
  max-width: 95%;
  margin: 0 auto;
}
#langLibList{
  width:90%;
  margin: 0 auto;
}
.projectDetails{
  display: inline-block;
}

#contactSection{
  max-width: 95%;
  margin: 0 auto;
}
#contactUL{
  list-style: none;
}
#contactUL li img{
  margin-bottom: -25px;
  margin-top: 25px;
  margin-right: 15px;
}
/********************************Footer CSS************************************/
footer{
  position: relative;
  text-align: right;
  height: 50px;
  margin: 100px auto 0 auto;
  background-color: black;
  color: white;
  padding: 30px;
  bottom: 0;
}
#aboveFooter{
  background-color: black;
  width: 10%;
  max-width: 100px;
  min-width: 70px;
  left: 42%;
  bottom: 70px;
  position: absolute;
  height: 70px;
  border-radius: 50% 50% 0 0;
  font-size: 3em;
  color: white;
  text-align: center;
  /*border: 4px solid white;*/
}
#aboveFooter:hover{
  bottom:75px;
}
footer p{
  position: relative;
  z-index: 1000;
  margin: 0;
  padding-top: 10px;
}
