/********************************NAV CSS***************************************/
.main-nav {
  padding: 0.1em;
  background-color: black;
  z-index: 1000;
  position: relative;

}
.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}
.main-nav:hover ul {
  display: block;
}

/********************************Icons for Nav*********************************/
.icon-menu {
  text-align: right;
  font-size: 2em;
  margin-top: 20px;
  margin-right: 10px;
}

/*******************************Project CSS************************************/
.template {
  display: none;
}
.project{
  min-width: 250px;
  max-width: 450px;
  height: 400px;
  width: 50%;
  margin: 1% auto;
  padding: 0;
  border: 1px solid black;
  border-radius: 5%;
  padding: 1%;
  overflow: hidden;
}

.project h2{
  text-align: center;
}
.project img{
  display: block;
  margin: 0 auto;
}
.project .dateOfProject{
  font-size: .75em;
  text-align: right;
}
/*******************************Contact CSS************************************/
#linkedInLogo{
  border-radius: 50%;
}

a.linkedIn:link, a.linkedIn:visited{
    color: #007bb6;
}

a.linkedIn:hover {
    color: #00A0DC;
}

a.linkedIn:active {
    color: #0B4971;
}

a.gitHub:link, a.gitHub:visited {
    color: #4078c0;
}

a.gitHub:hover {
    color: #ADCAF0;
}

a.gitHub:active {
    color: #6e5494;
}
@media screen and (min-width: 600px){

}
/*************************Media Q for Screen Size 760**************************/
@media screen and (min-width: 760px){
  .main-nav ul {
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-left: 30px;
  }
  .main-nav ul li {
    display: inline-block;
    padding: 0 4%;
  }
  .icon-menu {
    display: none;
  }
  .project{
    display: inline-block;
    width: 45%;
  }

}
/*************************Media Q for Screen Size 1200*************************/
@media screen and (min-width: 1200px){
  .project{
    width: 28%;
  }
  main{
    max-width: 75%;
    margin: 0 auto;
  }
}
